.contenedorHome{
    width: 100%;
    height: 75%;

}

.contenedorTarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

.colTarjetas{
    display: flex;
}

.tarjeta{
    width: 3rem;

    display: flex;
    flex-direction: column;

    margin: 1rem;

    color: white;

    border: 1px solid white;
    border-radius: 10px;
}

.tarjeta img{
    width: 100%;
    height: 50%;

    border-radius: 10px;
}